.headerBackground{
    --background: #1B1464;
    //background-image: url("../../assets/icon/diagmonds.png");
    min-height: 200px;
}
.menuAvatar{
    margin-top: 30px;
    margin-left: 20px;
    min-height: 80px;
    min-width: 80px;
}
.usernameMenuItem{
    --background: none;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.usernameMenu{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}