<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar class="headerBackground">
      <ion-avatar>
        <ion-img class="menuAvatar" src="assets/icon/driver.png"></ion-img>
      </ion-avatar>
      <ion-item class="usernameMenuItem" lines="none">
        <ion-label class="usernameMenu">{{NombreUsuario}}</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="contenido">
    <ion-menu-toggle auto-hide="true">
      <ion-list style="margin-left: 10px;" lines="none">

        <ion-item button="true" (click)="onIrSidemenu('pedido')">
          <ion-icon slot="start"  name="cart"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>

        <ion-item-divider>
        </ion-item-divider>

        <ion-item button="true" (click)="onIrSidemenu('configuracion')">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>

        <ion-item button="true" (click)="onIrSidemenu('cerrarsesion')">
          <ion-icon slot="start"  name="log-out"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-menu-toggle>
  </ion-content>
  <ion-footer>
    <ion-menu-toggle auto-hide="true">
      <ion-list style="margin-left: 10px;" lines="none">

        <ion-item button="true">
          <ion-icon slot="start" name="share-social"></ion-icon>
          <ion-label>Compartir</ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-icon slot="start" name="help-circle"></ion-icon>
          <ion-label>Ayuda</ion-label>
        </ion-item>

      </ion-list>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>