<ion-content>
  <svg height="170vw" viewBox="0 0 100 100" style="position:absolute;">
    <path fill="#1B1464" d="M0,0 
    L140,0
    C50,70 20,60 0,100z" />
  </svg>
  <ion-grid>
    <ion-row style="height: 5vh;"></ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img width="170px" src="assets/icon/driver.png">
        <br>
        <ion-label style=" font-style: italic; font-weight: bold; font-size: 38px; color: white;">Pedi2.pe Repartidor</ion-label>
        <br>
      </ion-col>
    </ion-row>

    <ion-row style="height: 1vh;"></ion-row>

    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-card>
          <ion-card-content>

            <div class="ion-text-center">
              <ion-label style="color:#000000; font-weight: bold; text-align: center; font-size: 20px;">Acceso</ion-label>
              <ion-icon class="iconLogin" name="lock-closed"></ion-icon>
            </div>

            <br>
            <ion-input (keydown)="onKeyDown($event)" placeholder="DNI" [(ngModel)]="username"  type="text">
              <ion-icon style="color: #1B1464; margin-left:20px;" slot="start" name="person"></ion-icon>
            </ion-input>

            <ion-input style="z-index: 0 !important;" #passinput placeholder="Contraseña" [(ngModel)]="password" type="password">
              <ion-icon style="color: #1B1464; margin-left:20px;" slot="start" name="key"></ion-icon>
              <ion-buttons slot="end" style="position: absolute; right: 0;">
                <ion-button class="type-toggle"  slot="end" (click)="toggleShow()">
                  <ion-icon  [name]="(showPassword)?'eye-off':'eye'"></ion-icon>
               </ion-button>
              </ion-buttons>
            </ion-input>
            <br>
            <div class="ion-text-center">
              <ion-button (click)="iniciarSesion()" class="botonIniciarSesion">Iniciar Sesión</ion-button>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row style="height: 2vh;"></ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="ion-text-right">
        <a (click)="lostPass()">¿Olvidó su contraseña?</a>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>