@font-face {
    font-family: Gilroy-Medium;
    font-style: normal;
    src: url(../assets/fonts/Gilroy-Medium.ttf);
  }
  
  @font-face {
    font-family: Gilroy-Regular;
    font-style: normal;
    src: url(../assets/fonts/Gilroy-Regular.ttf);
  }
  